@model MrCMS.Web.Apps.Companies.Entities.CompanyPhoneNumber
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "CompanyPhoneNumber", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Email
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-danger btn" value="Delete" />
            </span>
        </legend>
        @Html.HiddenFor(item => item.Id)
        <p>Are you sure you want to delete phone number @Model.PhoneNumber from @Model.Company.Name?</p>
    </fieldset>
}