@model MrCMS.Web.Apps.Companies.Entities.CompanyEmail
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "CompanyEmail", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Email
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-danger btn" value="Delete" />
            </span>
        </legend>
        @Html.HiddenFor(item => item.Id)
        <p>Are you sure you want to delete email address @Model.EmailAddress from @Model.Company.Name?</p>
    </fieldset>
}